body{
    background-color: rgb(30, 30, 30);
}
.logo_img{
    width: 50px;
    margin-top:20px;
    margin-left: 20px;
    cursor: pointer;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: Quicksand,Arial;
}
.form_item{
    color: white;
    font-size: 20px;
    padding-top: 10px;
    font-family: Quicksand,arial;
}

#email{
    width: 230px;
    font-size: 17px;
    color: white;
    padding: 10px 8px;
    background-color:rgb(64, 64, 64);
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 94, 255);
    margin-left: 10px;
    border-radius:4px;
}
#pword{
    width: 200px;
    font-size: 17px;
    color: white;
    padding: 10px 8px;
    background-color:rgb(64, 64, 64);
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 94, 255);
    margin-left: 6px;
    border-radius:4px;
}

#login{
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(30, 30, 30);
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 94, 255);
    color: white;
    transition: background-color 0.25s, color 0.25s; 
}
#login:hover{
    background-color: white;
    border: none;
    color: black;
}